<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <style>
        /* Style for header */
        header {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
        }
        header button {
            background-color: #555;
            color: white;
            padding: 5px 10px;
            margin: 0 10px;
            border: none;
            cursor: pointer;
        }
        /* Style for hovering division */
        .farewell-registration {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #ddd;
            padding: 20px;
            border-radius: 10px;
            display: none;
        }
        .farewell-registration:hover {
            display: block;
        }
    </style>
</head>
<body>
    <header>
        <form action="/home" method="get">
            <button type="submit">Home</button>
        </form>
        <form action="/volunteer" method="get">
            <button type="submit">Volunteer</button>
        </form>
        <form action="/logout" method="get">
            <button type="submit">Logout</button>
        </form>
    </header>
    <h1>User Profile</h1>
    <div>
        <div>
            <p><strong>User ID:</strong> <%= userData.UserId %></p>
            <p><strong>Name:</strong> <%= userData.Name %></p>
            <p><strong>Email:</strong> <%= userData.Email %></p>
            <p><strong>User Type:</strong> <%= userData.UserType %></p>
        </div>

       

        <% if (userExtendedData) { %>
            <h2>Teacher Data</h2>
            <% if (userExtendedData.RollNo) { %>
                <p><strong>Roll Number:</strong> <%= userExtendedData.RollNo %></p>
                <% } %>
            <p><strong>Department:</strong> <%= userExtendedData.Department %></p>
            <p><strong>Dietary Preferences:</strong> <%= userExtendedData.DietaryPreferences %></p>
            <p><strong>Registration Status:</strong> <%= userExtendedData.RegistrationStatus ? 'Registered' : 'Not Registered' %></p>
        <% } %>

        <% if (familyData) { %>
            <h2>Family Member Data</h2>
            <% familyData.forEach(member => { %>
                <p><strong>Name:</strong> <%= member.Name %></p>
                <p><strong>Contact:</strong> <%= member.Contact %></p>
                <p><strong>CNIC:</strong> <%= member.CNIC %></p>
            <% }) %>
        <% } %>

        <% if (volunteerResults) { %>
            <h2>Volunteered Tasks Assigned</h2>
            <ul>
                <% volunteerResults.forEach(task => { %>
                    <li><%= task.Name %> - <%= task.Description %></li>
                <% }); %>
            </ul>
        <% } %>
    </div>
</body>
</html>
